body {
  background-image: url(images/bgimg.png);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Literally just for the navigation bar */

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 8px;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 250%;
  color: white;
}

.topHeader {
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 4%;
  /* background:rgb(36, 64, 87) */;
  background-image: linear-gradient(45deg, #474444, #ada6a7);
  border-radius: 25px;
}
