body {
    background-image: url(images/bgimg.png);
}

li {
    float: left;
  }
  
  a {
      
    display: block;
    padding: 8px;
    background-color: #000000;
  }
ul {
    position: fixed;
    top: 0;
    width: 100%;
}