body {
  background-color: #ffffff;
}

h1 {
  color: rgb(35, 37, 81);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

p {
  color: rgb(35, 37, 81);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
